<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Add Employee page</legend>
            <table border="2">
              <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Address</td>
                <td>Gender</td>
                <td>Designation</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Fardin</td>
                <td>01857954852</td>
                <td>Bashundhara</td>
                <td>Male</td>
                <td>Install</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
              <tr>
                <td>Ahsan</td>
                <td>01751954852</td>
                <td>Khilkhet</td>
                <td>Male</td>
                <td>Test</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
              <tr>
                <td>Imran</td>
                <td>01645954852</td>
                <td>Gulshan</td>
                <td>Male</td>
                <td>Design</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
              <tr>
                <td>Zenisa</td>
                <td>01857954852</td>
                <td>Kuril</td>
                <td>Female</td>
                <td>Install</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
            </table>
        </fieldset>
    </form>
</body>
