<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>My profile</legend>
            <table>
              <tr>
                <td>Employee name: Fardin </td>
              </tr>
              <tr>
                <td>Employee Phone:01857956142</td>
              </tr>
              <tr>
                <td>Employee Address:Bashundhara</td>
              </tr>
              <tr>
                <td>Gender:male</td>
              </tr>
              <tr>
                <td>Designation:Install</td>
              </tr>
              <tr>
                <td><input type="submit" value="Back"></td>
              </tr>
            </table>
        </fieldset>
    </form>
</body>
